html {
    height: 100%;
}


body {
    height: 100%;
    background-image: url(../img/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
}
   

.logo {
    width: 250px;
    margin-left: 285px;
}

*{
    box-sizing: border-box;
}

.back{
    height: 100%;
    width: 80%;
    margin: auto;
    background:rgba(00,00,00,0.7);   
    padding-top: 10px;
    border-radius: 10px;
}


.container {
    width: 800px;
    margin: auto;
    margin-top: 20px;
}

.titolo {
    color: #38b000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-left: 200px;
    margin-top: 5px;
    font-size: 25px;
    margin-bottom: 10px;
}

.navigazione {
    background-color: #38b000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sottotitolo {
    inline-size: auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    color: #38b000;
}

.caricaParziale {
    height: 15px;
    width: 250px;
    background-color: yellow;
    border-radius: 3px;
}

.indirizzo {
    color: white;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}


.ricarica {
    color: white;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.caricaParziale1 {
    height: 15px;
    width: 500px;
    background-color: orange;
    border-radius: 3px;
}

.caricaParziale2 {
    height: 15px;
    width: 100px;
    background-color:blueviolet;
    border-radius: 3px;
}

.autore {
    margin:10px;
    padding-left: 40%;
    color: white;
}